### BEGIN .ebextensions/logs.config
files:
  "/var/log/*":
    mode: "000755"
    owner: root
    group: root
    content: |
      [docker-stdout]
      log_group_name=/groceryserver-dev-docker/logs
      log_stream_name={instance_id}
      file=/var/log/*

commands:
  "00_restart_awslogs":
    command: service awslogs restart

### END .ebextensions/logs.config